.data-container {
    max-width: 300px;
    margin-top: 3em;
    margin-left: auto;
    padding-left: 0.5em;
    border-left: 5px solid #c6b4b4;
    font-size: 1.2rem;

    h5 {
        font-size: 1.5rem;
    }

    p {
        color: #c6b4b4;
        cursor: pointer;
    }

    p:hover {
        text-decoration: underline;
    }
}

@media (min-width: 992px) {
    .data__container {
        height: 100px;
    }
}