@import "../../mixins//mixins";

.coach {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 300px;
  width: 300px;
  height: 420px;
  margin-block: 1em;
  border: 2px solid rgba(255, 255, 255, 0.7);
  border-radius: 3em;
  text-align: center;
  overflow: hidden;
  transform: translateX(20%);
  user-select: none;

  h4 {
    margin-bottom: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: var(--white-color);
    font-size: clamp(2rem, 2.5vw, 3rem);
    transition: transform 1s;

    img {
      display: inline;
      max-width: 70px;
      min-height: 60px;
    }
  }

  &__image {
    @include bg-cover;
    width: 100%;
    height: 100%;
    filter: brightness(70%);
    z-index: -1;
  }

  p {
    height: fit-content;
    height: 40%;
    margin-bottom: 0;
    padding: 2em .5em;
    background-color: rgba(0, 0, 0, 0.35);
    color: rgba(255, 255, 255, 0.7);
    font-size: clamp(1.4rem, 1.5vw, 1.6rem);
    line-height: 1.2em;
    text-align: left;
    opacity: 1;
    transition: opacity 1s;
    cursor: default;
  }

  &__link {
    padding-block: 1em;
    background-color: rgba(255, 255, 255, 0.7);
    border-top: 2px solid var(--white-color);

    a {
      color: black;
      font-size: 2rem;
      font-family: 'Zen Dots';
      text-decoration: none;
      transition: color .5s;
    }
  }

  &__bg-cover {
    display: none;
  }
}

@media (min-width: 992px) {
  .coach {
    position: relative;
    min-width: 350px;
    max-width: 350px;

    h4 {
      margin-bottom: auto;
    }

    p {
      padding-top: .5em;
      background: transparent;
      opacity: 0;
    }

    &__bg-cover {
      display: block;
      @include bg-cover;
      background-color: rgba(0, 0, 0, 0.35);
      transform-origin: bottom;
      transition: transform 0.5s;
      border-radius: 3em;
    }
    
    &__link:hover {
      background-color: rgba(0, 0, 0, 0.35);
      
      a {
        color: var(--white-color);
      }
    }
    
    &:hover {
      p {
        opacity: 1;
        transition: opacity 1s;
      }
      
      .coach__bg-cover {
        border-top: 2px solid white;
        z-index: -1;
        transform: scaleY(0.54);
        backdrop-filter: blur(5px);
      }
    }
  }

}