header {
  position: relative;
  height: 100vh;
  text-align: center;
  z-index: 0;

  &::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-image: url('../../assets/header/start-page-small.jpg');
    background-size: cover;
    background-position: 50%;
    filter: brightness(70%);
    z-index: -1;

  }
  img {
    width: 125px;
  }
}
.margin{
  margin-right: 15em;
}

@media (min-width: 768px) {
  header {
    img {
      display: block;
      margin-left: 2em;
      padding-top: 2em;
    }
  }
}

@media (min-width: 992px) {
  header {
    &::before{
      background-image: url('../../assets/header/start-page-big.jpg');
    }
    img {
      position: absolute;
      width: 150px;
      margin-left: 5em;
      padding-top: 2em;
    }
  }
}
