* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}


:root {
  --white-color: #fff;
  --black-color: #333;
  --first-color: #003049;
  --second-color: #fcbf49;
  --third-color: #eae2b7;
  font-size: 62.5%;
}
.modal-open.modal-backdrop{
  overflow-y: hidden;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  position: relative;
  overflow-x: hidden;
  font-size: 10px;
  font-family: "Lato", sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: 'Zen Dots', sans-serif;
}
