.coaches {
  margin-top: 10em;
  overflow: hidden;

  &__container {
    position: relative;
    display: flex;
    align-items: center;
    height: 500px;
    gap: 50px;
    // margin-top: 2em;
    margin-inline: -5em;
    background: #002f49
    linear-gradient(to top,
    rgba(51, 51, 51, 0.4),
    rgba(255, 255, 255, 0.3));
    box-shadow: inset 0 0 30px black;
  }
}

@media (min-width: 992px) {
  .coaches {
    &__container {
      height: 600px;
    }
  }
}