.coaches {
  margin-top: 10em;
  margin-bottom: 5em;
  overflow: hidden;

  &__container {
    position: relative;
    display: flex;
    align-items: center;
    height: 500px;
    gap: 50px;
    margin-top: 2em;
    margin-inline: -5em;
    background-color: var(--first-color);
    box-shadow: inset 0 0 30px black;
  }
}

@media (min-width: 992px) {
  .coaches {
    &__container {
      height: 600px;
    }
  }
}