.type-info {
    position: relative;
    margin-top: 7em;
    padding: 3em 1em;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);

    p {
        color: rgba(255, 255, 255, 0.7);
        font-size: 1.5rem;
    }

    img {
        position: absolute;
        top: 0;
        right: 0;
        width: 100px;
        height: 100px;
        transform: translate(0%, -60%);
    }
}

@media (min-width: 768px) {
    .type-info {
        margin-left: auto;
        margin-right: 1em;
        width: 50%;
        margin-bottom: 2em;
        border: 1px solid var(--white-color);
        border-radius: 1.5em;
    }
}

@media (min-width: 1400px) {
    .type-info {
        width: 30%;
        padding-inline: 5em;
        img {
            position: absolute;
            top: 0;
            right: 0;
            width: 130px;
            height: 130px;
            transform: translate(50%, -60%);
        }
    }
}